################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/BDD-training-repoNew/project-colors.json
*.suo
*.testlog
*.manifest
*.json
/.vs/BDD-training-repo/FileContentIndex/03f7c0a4-f094-415c-b8d3-6d6b8dc40013.vsidx
/.vs/BDD-training-repo/FileContentIndex/read.lock
/.vs/BDD-training-repo/FileContentIndex/92de9c7f-1af4-4794-989f-69d1cdb65d96.vsidx
/.vs/BDD-training-repo/FileContentIndex/5c11d129-b797-4eb2-930e-83bdb8c0cf50.vsidx
/.vs/BDD-training-repo/v17/.wsuo
/.vs/BDD-training-repo/FileContentIndex/d5ce8c42-102c-4a19-a684-3eb8c3a28842.vsidx
/.vs/BDD-training-repo/FileContentIndex/f53a9d14-05af-4f1a-83ce-f75526f849a6.vsidx
/1.1 Sign into the App.feature
/.vs/BDD-training-repo/FileContentIndex/ec78f990-acbb-485f-8753-d6d297cf44c8.vsidx
/.vs/BDD-training-repo/FileContentIndex/19c83446-c261-4a3b-8d0e-28ed95a79497.vsidx
